[submodule "contracts/xdao"]
	path = contracts/xdao
	url = https://github.com/curvefi/curve-xdao.git
[submodule "tests/scrvusd/contracts/scrvusd"]
	path = tests/scrvusd/contracts/scrvusd
	url = https://github.com/curvefi/scrvusd.git
[submodule "tests/xgov/contracts/curve-xgov"]
	path = tests/xgov/contracts/curve-xgov
	url = https://github.com/curvefi/curve-xgov.git
	branch = fix/xdao
[submodule "tests/xgov/contracts/curve-xdao"]
	path = tests/xgov/contracts/curve-xdao
	url = https://github.com/curvefi/curve-xdao.git
	branch = fix/message-passing
